FLOW4/Flow4.json
[
    {
        "id": "1cdbda81a9795ad6",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae4d4e2cf0939460",
        "type": "mqtt in",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "bb96c78d9c0dc48d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ce2593294424832e"
            ]
        ]
    },
    {
        "id": "ce2593294424832e",
        "type": "json",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "f2ac969d8ff26f14",
                "fc251fd7fa7755bd",
                "c2cc02e1ad1f5f5b",
                "a54043ec032748a6"
            ]
        ]
    },
    {
        "id": "c2cc02e1ad1f5f5b",
        "type": "debug",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "bfa96af6b0a6bc65",
        "type": "ui_text",
        "z": "1cdbda81a9795ad6",
        "group": "8b88f9d3022e1898",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ULTIMO ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d499ba1f730492e",
        "type": "ui_gauge",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "group": "8b88f9d3022e1898",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ULTIMA TEMPERATURA",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "+50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "f2ac969d8ff26f14",
        "type": "function",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "bfa96af6b0a6bc65"
            ]
        ]
    },
    {
        "id": "fc251fd7fa7755bd",
        "type": "function",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "3d499ba1f730492e"
            ]
        ]
    },
    {
        "id": "e0e52bea13ac7d75",
        "type": "ui_chart",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "group": "960632f663dc8388",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Gráfica a través del tiempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a54043ec032748a6",
        "type": "function",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "e0e52bea13ac7d75"
            ]
        ]
    },
    {
        "id": "c729aff1f496da4c",
        "type": "ui_switch",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8b88f9d3022e1898",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "ab3108ab919b259d"
            ]
        ]
    },
    {
        "id": "ab3108ab919b259d",
        "type": "mqtt out",
        "z": "1cdbda81a9795ad6",
        "name": "",
        "topic": "codigoIoT/SIC/G5/juan_Manuel",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb96c78d9c0dc48d",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb96c78d9c0dc48d",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "JuanManuelHdzLara-SIC-2109",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8b88f9d3022e1898",
        "type": "ui_group",
        "name": "ULTIMO DATO",
        "tab": "1c246de0068e256e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "960632f663dc8388",
        "type": "ui_group",
        "name": "GRÁFICIA",
        "tab": "1c246de0068e256e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c246de0068e256e",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
